*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}
/* COMMON */
ul:not(.col-list){
    list-style-type: none;
    display: flex;
    margin: 0 30px;
}

.blue-buttons{
    background-color: #0061ff;
    padding: 7px 15px;
    font-size: 15px;
}
a:not(.partner-link, .business-footer-link){
    text-decoration: none;
    color: white
}
.font{
    font-size: 12px;
}

/* HEADER */
header{
    background-color: white;
    position: fixed;
    width: 100%;
    height: 70px;
    margin-bottom: 100px;
    z-index: 1;
    border-bottom: 1px solid gray;
}
.container{
    display: flex;
    position: relative;
    font-size: 15px;
}
.container a:not(.blue-buttons) {
    color: black;
}
.container img{
    width: 150px;
}
.menu-left{
    display: flex;
    padding: 20px;
}
.menu-right{
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    padding: 20px;
}
.menu-left ul li{
    margin-right: 30px;
    align-self: center;
}
.menu-right ul li{
    margin-left: 30px;
    align-self: center;
}
/* MAIN */

/* Jumnbotron */
.jumbotron{
    background-color: #b4d0e7;
    width: 100%;
    height: 680px;
    padding: 110px;
}
.jumbo-content{
    display: flex;
}
h1{
    font-size: 65px;
    margin-bottom: 50px
}
.jumbo-small{
    width: 78%;
}
.jumbo-small p{
    font-size: 13px;
    margin-bottom: 25px;
}
.jumbo-small p:nth-child(3){
    margin-top: 12px;
}
#darr{
    font-size: 40px;
}
.jumbo-big img{
    width: 90%;
    position: relative;
}

/* MONEY-PANNEL */
.money-pannel{
    width: 100%;
    height: 1350px;
}
.m-container{
    margin: 180px auto 20px;
    width: 60%;
}
.m-container h2{
    font-size: 33px;
    margin-bottom: 30px;
}
.m-container p{
    vertical-align: middle;
}
.circle{
    vertical-align: middle;
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid gray;
    border-radius: 25px;
    background-color: white;
}
.selected{
    border: 4px solid #0563ff;
}
.m-container2{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;
}
.col{
    width: calc(90% / 3);
    height: 950px;
    border: 1px solid gray ;
}
.col-head{
    width: 100%;
    border: 1px solid gray;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
}
.col-card{
    margin-left: 20px;
    margin-top: 20px;
}
.title-card{
    font-size: 14px;
    margin-top: 10px;
}

.content-card{
    font-size: 12px;
    margin-bottom: 20px;
}
.gr{
    color: gray;
    margin-top: 10px;
    margin-bottom: 40px;
}
.big-blue-buttons{
    margin-top: 40px;
    width: 209px;
    margin-bottom: 30px;
    padding-left: 35px;
    font-size: 12px;
}
.mid-col{
    display: inline-block;
    font-size: 12px;
    border-bottom: 1px solid gray;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.col-list{
    list-style-type: none;
    margin-top: 20px;
}
.col-list li i{
    margin-top: 20px;
    color: #0563ff;
}
.hor-col{
    width: 60%;
    margin: auto;
    margin-top: 50px;
    padding-bottom: 5px;
    border: 1px solid gray;
}
.hor-col-title{
    text-align: center;
    border: 1px solid gray;
    padding: 7px 0;
}
.hor-col-content{
    margin: 20px;
}
.hor-col-content p{
    margin-top: 20px;
    margin-bottom: 30px;
}
.hor-button{
    text-align: right;
    padding-left: 40px;
}
/* PARTNER */
.partner{
    display: flex;
    width: 60%;
    height: 400px;
    margin: 125px auto;
}
.left-partner{
    width: 55%;
}
.left-partner img{
    width: 100%;
}
.right-partner{
    width: 45%;
    margin-left: 50px;
    margin-top: 50px;
}
.right-partner h2{
    font-size: 20px;
    margin-bottom: 20px;
}
.partner-link{
    color: black;
    text-decoration: none;
}
.partner-button{
    padding: 5px 10px;
    border: 1px solid black;
    width: 150px;
    margin-top: 20px;
}
/* DROPBOX-BUSINESS */
.dropbox-business{
    margin: 0 auto;
    width: 60%;
    height: 1200px;
}
.business-title{
    height: 5%;
}
.business-title h2{
    font-size: 30px;
}
.business-table{
    height: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.business-col{
    width: calc(97% / 3);
    height: 50%;
}
.business-col img{
    width: 100%;
}
.business-col h2{
    margin-bottom: 20px;
}
#un_li{
    text-decoration: underline;
}
.business-footer{
    height: 15%;
}
.business-footer h2{
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 35px;
}
/* Banner */
.banner{
    margin-top: 50px;
    height: 400px;
    background-color: pink;
    display: flex;
}
.left-banner{
    width: 30%;
    height: 100%;
    background-color: red;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.center-banner{
    width: 40%;
    height: 100%;
    background-color: #f5f5f5;
}
.center-banner-title{
    height: 30%;
}
.center-banner-title img{
    width: 30%;
    padding-top: 40px;
    padding-left: 50px;
}
.center-banner-hr{
    width: 45px;
    color: white;
    margin-left: 50px;
}
.center-banner-content{
    height: 70%;
    padding-top: 40px;
    padding-left: 50px;
}
.banner-author{
    margin-top: 40px;
}
.right-banner{
    width: 30%;
    height: 100%;
    background-color: blue;
    display: flex;
    flex-wrap: wrap;
}
.box{
    width: calc(100% / 2);
    height: calc(100% / 2);
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box img{
    width: 55%;
    color: white;
}
.a-sx-left{
    background-color: #a2d39b;
    border: 10px solid #d0e9cd;
}
.a-dx-left{
    background-color: #61082b;
}
.b-sx-left{
    background-color: #0093ce;
}
.b-dx-left{
    background-color: #ff1c1c;
}
.a-sx-right{
    background-color: #d5001f;
}
.a-dx-right{
    background-color: #b4d0e7;
}
.b-sx-right{
    background-color: #0d2481;
}
.b-dx-right{
    background-color: #ffd830;
}
/* Call to action */
/* .call-to-action-container{
    height: 300px;
    background-color: #b4d0e7;
} */