*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}
/* COMMON */
ul{
    list-style-type: none;
    display: flex;
    margin: 0 30px;
}

.blue-buttons{
    background-color: #0061ff;
    /* margin: 20px; */
    padding: 7px 15px;
    font-size: 15px;
}
a{
    text-decoration: none;
    color: white
}

/* HEADER */
header{
    position: fixed;
    width: 100%;
    border-bottom: 1px solid black ;
    margin-bottom: 100px;
}
.container{
    display: flex;
    position: relative;
    font-size: 15px;
}
.container a:not(.blue-buttons) {
    color: black;
}
.container img{
    width: 150px;
    padding: 20px;
}
.menu-left{
    display: flex;
}
.menu-right{
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
}
.menu-left ul li{
    margin-right: 30px;
    align-self: center;
}
.menu-right ul li{
    margin-left: 30px;
    align-self: center;
}
/* MAIN */
.jumbotron{
    background-color: #b4d0e7;
    width: 100%;
    height: 680px;
    padding: 110px;
}
.jumbo-content{
    display: flex;
}
h1{
    font-size: 65px;
    margin-bottom: 50px
}
.jumbo-small{
    width: 78%;
}
.jumbo-small p{
    font-size: 13px;
    margin-bottom: 25px;
}
.jumbo-small p:nth-child(3){
    margin-top: 12px;
}
#darr{
    font-size: 40px;
}
.jumbo-big img{
    width: 90%;
    position: relative;
}